.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #222;
  color: #fff; /* За да направим текста четлив на тъмния фон */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif; /* Добавен шрифт за по-добър изглед */
}

.container {
  max-width: 600px;
  width: 100%;
  text-align: center;
  padding: 2rem;
  background-color: #333; /* Малко по-светъл фон за контейнера */
  border-radius: 8px; /* Закръглени ъгли за по-добър изглед */
}

.mt-5 {
  margin-top: 3rem;
}

.mt-3 {
  margin-top: 1rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px; /* Увеличаване на вътрешните отстояния */
  font-size: 1.1rem; /* Увеличаване на размера на шрифта */
  font-weight: bold; /* Прави текста по-дебел */
  border-width: 2px; /* Увеличаване на дебелината на границата */
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.input-group {
  display: flex;
  align-items: center;
}

.form-control {
  flex: 1;
  margin-right: 0.5rem;
  padding: 10px; /* Увеличаване на вътрешните отстояния на полето за въвеждане */
  font-size: 1.1rem; /* Увеличаване на размера на шрифта на полето за въвеждане */
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.footer {
  text-align: center;
  padding: 10px;
}
